<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<%- include('template/meta') %>
</head>
<link rel="stylesheet" href="css/app.css">
<body>

<%- include('template/server') %>

	<div class="header">

		<%- include('template/nav') %>

		<div class="ad">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide slide1">
						<img class="img-responsive" src="img/banner-1.jpg" alt="三泰一流的电子工业用胶解决方案供应商">
						<h2>三泰一流的电子工业用胶解决方案供应商</h2>
					</div>
					<div class="swiper-slide slide2">
						<img class="img-responsive" src="img/banner-2.jpg" alt="三泰全方位的光通信用胶粘剂,导热材料,电梯屏蔽材料供应商">
						<h2>三泰全方位的光通信用胶粘剂,导热材料,电梯屏蔽材料供应商</h2>
					</div>
					<div class="swiper-slide slide3">
						<img class="img-responsive" src="img/banner-3.jpg" alt="三泰全方位的光通信用胶粘剂,导热材料,电磁屏蔽供应商">
						<h2>三泰全方位的光通信用胶粘剂,导热材料,电磁屏蔽供应商</h2>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
	<!-- Header End -->

	<div class="content container">
		<div class="about col-md-4 col-sm-12 col-xs-12">
			<div class="content-top row">
				<h3 class="col-md-6 col-sm-6 col-xs-6"><img class="img-responsive" src="img/logo-g.png" alt="武汉三泰硅宝新材料有限公司"></h3>
				<div class="more col-md-6 col-sm-6 col-xs-6"><a href="procudt.html">更多</a></div>
			</div>
			<div class="content-content">
				<img class="img-responsive about-img" src="img/about.jpg" alt="武汉三泰硅宝新材料有限公司">
				<p><strong>武汉三泰硅宝新材料有限公司</strong>是一家由众多材料应用专家组成的高新科技企业。公司主要产品有粘接密封材料，灌封材料，导热材料，电磁屏蔽材料，保护涂层材料等功能型高分子材料，产品广泛应用光通信、汽车电子、半导体工业、军工、新能源行业。 长期以来，我们专门从事电子行业高端辅助材料应用推广。在光通信行业和汽车电子行业，我们有着丰富的解决方案和服务经验。我们致力于帮助客户提高生产力并降低成本，延长设备使用寿命，增加产业的附加值。完善的管理体系和专业的销售团队，让我们满怀信心地面对未来的发展和挑战。</p>
			</div>
		</div>
		<div class="ct-product col-md-4 col-sm-6 col-xs-12">
			<div class="content-top row">
				<h3 class="col-md-6 col-sm-6 col-xs-6">最新产品</h3>
				<div class="more col-md-6 col-sm-6 col-xs-6"><a href="procudt.html">更多</a></div>
			</div>
			<div class="content-content">
				<div class="ad2">
					<div class="swiper-container-product">
						<div class="swiper-wrapper">
							<div class="swiper-slide"><a href="##"><img class="img-responsive" src="img/ad2-1.jpg" alt="产品ID"><span>粘接密封材料</span></a></div>
							<div class="swiper-slide"><a href="##"><img class="img-responsive" src="img/ad2-2.jpg" alt="产品ID"><span>灌封材料</span></a></div>
							<div class="swiper-slide"><a href="##"><img class="img-responsive" src="img/ad2-3.jpg" alt="产品ID"><span>导热材料</span></a></div>
							<div class="swiper-slide"><a href="##"><img class="img-responsive" src="img/ad2-4.jpg" alt="产品ID"><span>电磁屏蔽材料</span></a></div>
							<div class="swiper-slide"><a href="##"><img class="img-responsive" src="img/ad2-5.jpg" alt="产品ID"><span>导电银胶</span></a></div>
							<div class="swiper-slide"><a href="##"><img class="img-responsive" src="img/ad2-6.jpg" alt="产品ID"><span>UV固化类材料</span></a></div>
							<div class="swiper-slide"><a href="##"><img class="img-responsive" src="img/ad2-7.jpg" alt="产品ID"><span>三防胶涂覆类材料</span></a></div>
							<div class="swiper-slide"><a href="##"><img class="img-responsive" src="img/ad2-8.jpg" alt="产品ID"><span>润滑材料</span></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="news col-md-4 col-sm-6 col-xs-12">
			<div class="content-top row">
				<h3 class="col-md-6 col-sm-6 col-xs-6">行业资讯</h3>
				<div class="more col-md-6 col-sm-6 col-xs-6"><a href="procudt.html">更多</a></div>
			</div>
			<div class="content-content">
				<ul>
					<li><a href="##">这是可能是一条标题很长很长很长很长很长的新闻</a></li>
					<li><a href="##">这是可能是一条标题很长很长很长很长很长的新闻</a></li>
					<li><a href="##">这是可能是一条标题很长很长很长很长很长的新闻</a></li>
					<li><a href="##">这是可能是一条标题很长很长很长很长很长的新闻</a></li>
					<li><a href="##">这是可能是一条标题很长很长很长很长很长的新闻</a></li>
				</ul>
			</div>
		</div>
	</div>

<%- include('template/footer') %>

</body>
<script src="js/app.js"></script>
</html>