<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <%- include('template/meta') %>
</head>
<link rel="stylesheet" href="css/app.css">
<body>

<%- include('template/server') %>

<div class="header">
    <%- include('template/nav') %>
</div>


<div class="content container ct-content">
    <!--屏幕大于992px 显示该副菜单-->
    <div class="max-sub-nav col-lg-3 col-md-3">
        <h2 class="mian-title">产品展示</h2>
        <ul class="list-nav">
            <li>
                <a href="#" class="inactive">粘接密封材料</a>
                <ul class="second-nav">
                    <li>
                        <a href="#" class="inactive active">单组份硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-7110M</a></li>
                            <li><a href="#">ST-7210W/B</a></li>
                            <li><a href="#">ST-7510W/B</a></li>
                            <li><a href="#">DC7091</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">单组份硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-7110M</a></li>
                            <li><a href="#">ST-7210W/B</a></li>
                            <li><a href="#">ST-7510W/B</a></li>
                            <li><a href="#">DC7091</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="inactive">灌封材料</a>
                <ul class="second-nav">
                    <li>
                        <a href="#" class="inactive active">双组份加成型灌封硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">硅凝胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-5301</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">双组份缩合型灌封硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-ST-5410</a></li>
                            <li><a href="#">ST-5410W/ST-5410W-S</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="inactive inactives">导热材料</a>
                <ul class="second-nav">
                    <li>
                        <a href="#" class="inactive active">单组份导热粘接硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">硅凝胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-5301</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">双组份缩合型灌封硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-ST-5410</a></li>
                            <li><a href="#">ST-5410W/ST-5410W-S</a></li>
                        </ul>
                    </li>
                    <li class="last"><a href="#">《美术》杂志社</a></li>
                </ul>
            </li>
        </ul>
        <%- include('template/tel') %>
    </div>
    <!--屏幕小于992px 显示该副菜单-->
    <div class="min-sub-nav col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-xs-3 col-sm-3"><h2 class="main-title">产品展示</h2></div>
            <div class="col-xs-9 col-sm-9">
                <ul class="subnav">
                    <li class="subnav-item active">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">导热材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">粘结密封材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">灌封材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">封装材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">焊材</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">润滑剂</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">三防材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">UV材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">清洗剂</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--列表-->
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <!--面包屑导航-->
        <ol class="breadcrumb">
            <span>当前位置 > </span>
            <li><a href="index.html">首页</a></li>
            <li><a href="#">产品展示</a></li>
            <li class="active">导热材料</li>
        </ol>

        
        <div class="hy_list row hy">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="product-list.html"><img src="img/icon/icon-gtx.png">
                <h3>光通信行业</h3></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="product-list.html"><img src="img/icon/icon-qc.png" alt=""></a>
                <h3>汽车电子</h3></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="product-list.html"><img src="img/icon/icon-xny.png" alt=""></a>
                <h3>新能源行业</h3></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="product-list.html"><img src="img/icon/icon-dg.png" alt=""></a>
                <h3>电感行业</h3></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="product-list.html"><img src="img/icon/icon-dy.png" alt=""></a>
                <h3>电源行业</h3></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="product-list.html"><img src="img/icon/icon-gf.png" alt=""></a>
                <h3>光伏行业</h3></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="product-list.html"><img src="img/icon/icon-xs.png" alt=""></a>
                <h3>显示行业</h3></a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <a href="product-list.html"><img src="img/icon/icon-smt.png" alt=""></a>
                <h3>SMT行业</h3></a>
            </div>
        </div>
                        
    </div>
</div>

<%- include('template/footer') %>

</body>
<script src="js/app.js"></script>
</html>