<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <%- include('template/meta') %>
</head>
<link rel="stylesheet" href="css/app.css">
<body>

<%- include('template/server') %>

<div class="header">
    <%- include('template/nav') %>
</div>

<div class="content container ct-content">
    <!--屏幕大于992px 显示该副菜单-->
    <div class="max-sub-nav col-lg-3 col-md-3">
        <h2 class="mian-title">产品展示</h2>
        <ul class="list-nav">
            <li>
                <a href="#" class="inactive">粘接密封材料</a>
                <ul class="second-nav">
                    <li>
                        <a href="#" class="inactive active">单组份硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-7110M</a></li>
                            <li><a href="#">ST-7210W/B</a></li>
                            <li><a href="#">ST-7510W/B</a></li>
                            <li><a href="#">DC7091</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">单组份硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-7110M</a></li>
                            <li><a href="#">ST-7210W/B</a></li>
                            <li><a href="#">ST-7510W/B</a></li>
                            <li><a href="#">DC7091</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="inactive">灌封材料</a>
                <ul class="second-nav">
                    <li>
                        <a href="#" class="inactive active">双组份加成型灌封硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">硅凝胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-5301</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">双组份缩合型灌封硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-ST-5410</a></li>
                            <li><a href="#">ST-5410W/ST-5410W-S</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="inactive inactives">导热材料</a>
                <ul class="second-nav">
                    <li>
                        <a href="#" class="inactive active">单组份导热粘接硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                            <li><a href="#">5301</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">硅凝胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-5301</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inactive active">双组份缩合型灌封硅胶</a>
                        <ul class="third-nav">
                            <li><a href="#">ST-ST-5410</a></li>
                            <li><a href="#">ST-5410W/ST-5410W-S</a></li>
                        </ul>
                    </li>
                    <li class="last"><a href="#">《美术》杂志社</a></li>
                </ul>
            </li>
        </ul>
        <%- include('template/tel') %>
    </div>
    <!--屏幕小于992px 显示该副菜单-->
    <div class="min-sub-nav col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-xs-3 col-sm-3"><h2 class="main-title">产品展示</h2></div>
            <div class="col-xs-9 col-sm-9">
                <ul class="subnav">
                    <li class="subnav-item active">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">导热材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">粘结密封材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">灌封材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">封装材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">焊材</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">润滑剂</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">三防材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">UV材料</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                    <li class="subnav-item">
                        <div class="btn btn-default dropdown-toggle"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">清洗剂</span>
                        </div>
                        <ul class="dropdown-menu second-nav" role="menu">
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                            <li ><a href="#">CN8760 A/B</a></li>
                            <li><a href="#">CN8760 A/B</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--详细内容-->
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <!--面包屑导航-->
        <ol class="breadcrumb">
            <span>当前位置 > </span>
            <li><a href="index.html">首页</a></li>
            <li><a href="/product_list.html">产品展示</a></li>
            <li><a href="#">导热材料</a></li>
            <li class="active">CN8760G A/B</li>
        </ol>

        <!--详细内容-->
        <div class="product-details">
            <div class="picture">
                <img src="./img/product-01.jpg" alt="">
            </div>
            <div class="row">
                <div class="with-content col-ms-10 col-md-offset-2">
                    <h3 class="detail-title">产品型号：3140</h3>
                    <h3 class="detail-title">品牌：道康宁</h3>
                    <h3 class="detail-title">包装规格：90ml/支 310ml/支</h3>

                    <h3 class="detail-title">产品特点</h3>
                    <ul>
                        <li><span>预处理：</span><span>清洁粘接表面的水分、杂质、油污等，确保基本表面干燥</span></li>
                        <li><span>施胶：</span><span>取用适量本产品均匀涂覆于焊点上。</span></li>
                        <li><span>固化：</span><span>本品为室温湿气固化，50%相对湿度下，本品70分钟内结皮</span></li>
                    </ul>

                    <h3 class="detail-title">适用场景</h3>
                    <ul>
                        <li><span>预处理：</span><span>清洁粘接表面的水分、杂质、油污等，确保基本表面干燥</span></li>
                        <li><span>施胶：</span><span>取用适量本产品均匀涂覆于焊点上。</span></li>
                        <li><span>固化：</span><span>本品为室温湿气固化，50%相对湿度下，本品70分钟内结皮</span></li>
                    </ul>

                    <h3 class="detail-title">使用方法</h3>
                    <ul>
                        <li><span>本品为室温湿气固化，50%相对湿度下，本品70分钟内结皮</span></li>
                    </ul>

                    <table class="data" cellpadding="0" cellspacing="0" border="1">
                        <tr>
                            <td>物料号</td>
                            <td>包装</td>
                            <td>颜色</td>
                            <td>表干时间25°C(分钟)</td>
                            <td>粘度25°C(mPa.s)</td>
                            <td>室温固化时间(h)</td>
                            <td>密度(g/ml)</td>
                            <td>硬度(Shore)</td>
                            <td>导热率</td>
                            <td>温度范围(°C)</td>
                        </tr>
                        <tr>
                            <td>3140</td>
                            <td>90ml/支</td>
                            <td>半透明</td>
                            <td>70</td>
                            <td>30000</td>
                            <td>72</td>
                            <td>1.03</td>
                            <td>30A</td>
                            <td>0.2</td>
                            <td>-45~200</td>
                        </tr>
                        <tr>
                            <td>3140</td>
                            <td>90ml/支</td>
                            <td>半透明</td>
                            <td>70</td>
                            <td>30000</td>
                            <td>72</td>
                            <td>1.03</td>
                            <td>30A</td>
                            <td>0.2</td>
                            <td>-45~200</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('template/footer') %>

</body>
<script src="js/app.js"></script>
</html>