
<!-- Footer -->
<div class="footer">
    <ul class="container">
        <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <h3>关于三泰</h3>
            <ul class="row">
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="about-jy.html">企业介绍</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="about-partner.html">合作伙伴</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="about-jy.html">企业文化</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="about-jy.html">人力资源</a></li>
            </ul>
        </li>
        <li class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <h3>产品展示</h3>
            <ul class="row">
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">粘接密封材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">灌封材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">导热材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">电磁屏蔽材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">导电胶</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">UV固化材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">三防涂覆材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">润滑材料</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">清洗材料</a></li>
            </ul>
        </li>
        <li class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <h3>行业应用</h3>
            <ul class="row">
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">光通信行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">汽车电子行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">新能源行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">SMT行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">显示行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">电源行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">光伏行业</a></li>
                <li class="col-md-5 col-sm-6 col-xs-6"><a href="product-list.html">电感行业</a></li>
            </ul>
        </li>
        <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <h3>品牌专区</h3>
            <ul class="row">
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="product-list.html">三泰硅宝</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="product-list.html">道康宁</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="product-list.html">IBOND</a></li>
                <li class="col-md-12 col-sm-6 col-xs-6"><a href="product-list.html">汉高乐泰</a></li>
            </ul>
        </li>
        <li class="col-lg-4 col-md-2 col-sm-6 col-xs-12">
            <h3>联系我们</h3>
            <ul class="row">
                <li class="col-md-12 col-sm-12 col-xs-12">武汉三泰硅宝新材料有限公司</li>
                <li class="col-md-12 col-sm-12 col-xs-12">电话：<a href="tel:027-87551866">027-87551866</a>  传真：027-87551866</li>
                <li class="col-md-12 col-sm-12 col-xs-12"><a href="mailto:postmaster@whsanti.com">公司邮箱：postmaster@whsanti.com</a></li>
                <li class="col-md-12 col-sm-12 col-xs-12">公司网站：<a href="www.whsanti.com">www.whsanti.com</a></li>
                <li class="col-md-12 col-sm-12 col-xs-12">地址：武汉市东湖高新区光谷大道58号东一号楼三楼</li>
            </ul>
        </li>
    </ul>
</div>
<!-- Footer -->
