<!-- Header -->
<div class="container hd-top">
    <div class="star col-md-1 hidden-sm hidden-xs"><a href="javascript:">收藏本站</a></div>
    <div class="search col-md-offset-7 col-md-2 col-sm-6 col-xs-3">
        <div class="search-btn">
            <div class="icon-box">
                <form action="##">
                    <span class="glyphicon glyphicon-search icon"></span>
                    <input type="text" placeholder="请输入想搜索的产品！">
                    <input type="button" value="提交"  style="display: none;">
                </form>
            </div>
        </div>
        <div class="search-content"></div>
    </div>
    <div class="tel col-md-2 col-sm-6 col-xs-9">
        <div class="icon-box"><span class="glyphicon glyphicon-earphone icon"></span></div>
        <p><a href="tel:027-87551866">热线电话：027-87551866</a></p>
    </div>
</div>
<!-- 收藏 + 联系 End -->
<div class="hd-content row">
    <div class="container">
        <a class="col-md-2 col-sm-6 col-xs-6" href="index.html"><h1 class="logo">武汉三泰硅宝新材料有限公司</h1></a>
        <div class="nav-mune hidden-lg hidden-md col-sm-6 col-xs-6">
            <span class="col-sm-offset-11 col-xs-offset-10"></span>
        </div>
        <ul class="naver col-md-10">
            <li><a href="index.html" class="active">网站首页</a></li>
            <li><a href="about-jy.html">关于三泰</a>
                <ul>
                    <li><a href="about-jy.html">企业简介</a></li>
                    <li><a href="about-jy.html">企业文化</a></li>
                    <li><a href="about-partner.html">合作伙伴</a></li>
                    <li><a href="about-jy.html">人力资源</a></li>
                </ul>
            </li>
            <li><a href="product-list.html">产品展示</a>
                <ul>
                    <li><a href="product-list.html">粘接密封材料</a></li>
                    <li><a href="product-list.html">灌封材料</a></li>
                    <li><a href="product-list.html">导热材料</a></li>
                    <li><a href="product-list.html">电磁屏蔽材料</a></li>
                    <li><a href="product-list.html">导电胶</a></li>
                    <li><a href="product-list.html">UV固化材料</a></li>
                    <li><a href="product-list.html">三防涂覆材料</a></li>
                    <li><a href="product-list.html">润滑材料</a></li>
                    <li><a href="product-list.html">清洗材料</a></li>
                </ul>
            </li>
            <li><a href="product-index-hy.html">行业应用</a>
                <ul>
                    <li><a href="product-list.html">光通信行业</a></li>
                    <li><a href="product-list.html">汽车电子</a></li>
                    <li><a href="product-list.html">新能源行业</a></li>
                    <li><a href="product-list.html">电感行业</a></li>
                    <li><a href="product-list.html">电源行业</a></li>
                    <li><a href="product-list.html">光伏行业</a></li>
                    <li><a href="product-list.html">显示行业</a></li>
                    <li><a href="product-list.html">SMT行业</a></li>
                </ul>
            </li>
            <li><a href="product-index-pp.html">品牌专区</a>
                <ul>
                    <li><a href="product.html">三泰硅宝</a></li>
                    <li><a href="product.html">道康宁</a></li>
                    <li><a href="product.html">IBOND</a></li>
                    <li><a href="product.html">汉高乐泰</a></li>
                </ul>
            </li>
            <li><a href="new-list.html">行业资讯</a>
                <ul>
                    <li><a href="new-list.html">行业新闻</a></li>
                    <li><a href="new-list.html">胶粘剂知识</a></li>
                    <li><a href="new-list.html">前沿技术</a></li>
                </ul>
            </li>
            <li><a href="tel.html">联系我们</a>
                <ul>
                <li><a href="about.html">武汉三泰</a></li>
                <li><a href="about.html">深圳三泰</a></li>
                <li><a href="about.html">北京三泰</a></li>
                <li><a href="about.html">工厂地址</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Nav + Logo End -->
<!-- Header End -->