
<!-- 客服 -->
<div class="service_b">
    <div class="service">
        <div class="custom"><span>客服</span></div>
        <div class="pic"><img src="img/custom.png"/></div>
    </div>
    <div class="service_an">
        <div class="custom_an">
            <ul>
                <li>在线咨询</li>
                <li><a href="tencent://message/?uin=2929037660&Site=&Menu-=yes">客服一</a></li>
                <li><a href="tencent://message/?uin=3312150500Site=&Menu-=yes">客服二</a></li>
                <li><a href="tencent://message/?uin=2929037660&Site=&Menu-=yes">客服三</a></li>
            </ul>
        </div>
        <div class="pic"><img src="img/custom_r.png"/></div>
    </div>
</div> 
<!--客服    END-->