<div class="left_bottom">
            <div class="icon"><img src="./img/p1.png" alt=""></div>
            <h2 class="mian-title">联系我们</h2>
            <div class="information">
                <div>
                    <span><strong style="font-size:18px;">武汉三泰硅宝新材料有限公司</strong></span>
                </div>
                <div>
                    <span>电话：<a href="tel:027-81551866">027-81551866</a>  传真：027-87551866</span>
                </div>
                <div>
                    <span>邮箱：<a href="mailto:postmaster@whsanti.com">postmaster@whsanti.com</a></span>
                </div>
                <div>
                    <span>公司网站：<a href="www.whsanti.com">www.whsanti.com</a></span>
                </div>
                <div>
                    <span>办工地址：武汉市东湖高新区光谷大道58号东一号楼三楼</span>
                </div>
                <div>
                    <span>工厂地址：广州市南沙区榄核镇蔡新路351号201栋</span>
                </div>
            </div>
        </div>